/* Importation de la police Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Définition des principales couleurs */
:root {
  --text-color: #fafafa; /* (Texte presque blanc) */
  --background: #34495e; /* (Fond bleu foncé) */
  --background-button: #bebebe;
  --main-green: rgb(26, 188, 156);
  --active-green: rgb(20, 156, 128);
  --almost-black: #2d2d2d;
}

* {
  color: var(--text-color);
  overflow: hidden;
}

body {
  background-color: var(--background);
  font: 14pt Roboto, Arial, sans-serif;
  padding: 0;
  width: 95%;
  margin: auto;
}

/* Paragraphes "Aucun résultat..." et "Aucune recherche..." */
p.info-vide {
  font-style: italic;
}

/* Partie En-tête */
h1 {
  text-align: center;
  font-variant: small-caps;
  font-size: 2.5em;
  color: var(--main-green);
}

/* Conteneur principal */
.conteneur {
  display: flex;
  flex: 1;
  margin: 30px auto;
  width: 100%;
  height: 100%;
}

.infos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.infos button {
  background-color: var(--background-button);
  border: 1px solid var(--almost-black);
  border-radius: 5px;
  color: var(--almost-black);
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  width: 100px;
  height: 50px;
}

.infos button:hover {
  background-color: var(--active-green);
  color: var(--text-color);
}

.history {
  display: flex;
}

.chart {
  width: 70%;
}

.table {
  width: 30%;
  height: calc(95vh - 100px);
  font: 16px/26px Georgia, Garamond, Serif;
  overflow: auto;
  padding: 0 10px;
  border: 1px solid gray;
}

.table-values {
  width: 100%;
}

.table-values tr {
  border-collapse: collapse;
  text-align: right;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--almost-black);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--active-green);
}
